<div class="container">
    <div class="header">
        <h1>Contact Us</h1>
        <p>We'd love to hear from you!</p>
    </div>

    <div class="contact-info">
        <div class="info">
            <i class="fas fa-phone-alt"></i>
            <h2>Phone</h2>
            <p><a href="tel:+923062840276" style="color: #333;">0306-2840276</a></p>
        </div>
        <div class="info">
            <i class="fas fa-envelope"></i>
            <h2>Email</h2>
            <p><a href="mailto:haseebmhaseeb547@gmail.com" style="color: #333;">haseebmhaseeb547@gmail.com</a></p>
        </div>
        <div class="info">
            <i class="fas fa-map-marker-alt"></i>
            <h2>Address</h2>
            <p>Daborji choak daska road sialkot</p>
        </div>
    </div>

    <div class="contact-form">
        <h2>Send Us a Message</h2>
        <form action="contact_form_handler.php" method="post">
            <input type="text" name="name" placeholder="Your Name" required>
            <input type="email" name="email" placeholder="Your Email" required>
            <textarea name="message" placeholder="Your Message" required></textarea>
            <button type="submit">Send Message</button>
        </form>
    </div>

    <div class="map">
        <h2>Our Location</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.0033962036856!2d144.96305771531874!3d-37.81410797975178!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642af0f11fd81%3A0xf4c88aaf7a35c2b8!2sMelbourne%20VIC%2C%20Australia!5e0!3m2!1sen!2sus!4v1617669176753!5m2!1sen!2sus" allowfullscreen="" loading="lazy"></iframe>
    </div>


</div>
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>