<div class="container1">

    <img src="~/images/recpi1.jpg" />



    <div class="text">
        <h3>@ViewBag.Dis</h3>
        <h5>ENJOY THE BEST RECIPES WITH OUR COOKING GUIDE</h5>
        <button class="btn">Get the Recipe</button>
    </div>

</div>
<div class="imgcontainer">
    <div class="ballon">
        <a href="#">
            <img src="~/images/fish-seasoning-flathead-_6.webp" alt="img" width="368" height="420" />


        </a>
        <h5 class="box-tittle">Fish Recipes</h5>
    </div>
    <div class="ballon1">
        <a href="#">

            <img src="~/images/lamb-korma_main.webp" alt="img" width="368" height="420" />




        </a>
        <h5 class="box-tittle1">Lamb Korma curry</h5>
    </div>
    <div class="ballon2">
        <a href="#">

            <img src="~/images/degi-chicken-aloo-recipe-main-photo.jpg" alt="img" width="368" height="420" />




        </a>
        <h5 class="box-tittle2">Degi Chicken Alu</h5>
    </div>
</div>
<div class="pmother">
    <div class="mountain">

        <img src="~/images/chinese-veg-soup-50968-close-up.webp" alt="img" width="566" height="382" />






    </div>
    <div class="para">
        <h3>Discover New Flavors</h3>
        <ul>
            <li>
                <p>
                    At Flavor Journey, we are dedicated to offering you the finest in culinary experiences and quality recipes.
                    Our passion for food drives us to share the world's diverse flavors with you.
                </p>
            </li>
            <li>
                <p>
                    Our mission is to provide an unparalleled cooking guide that serves<br>
                    as a comprehensive resource for every culinary need you might have.
                </p>
            </li>
            <li>
                <p>
                    We take pride in delivering exceptional quality and value through our recipes<br />
                    allowing you to explore your chosen cuisine in an authentic and delightful way.
                </p>
            </li>
        </ul>
        <button class="btn">Read More</button>
        <button class="btn">Get the Recipe</button>
    </div>
</div>

</div>
<div class="services">
    <h2>Our Culinary Services</h2>
    <div class="service-container">
        <div class="service-row">
            <div class="service-box">
                <img src="/images/equalization.png" class="service-icon" />
                <h3>Customized Recipe Recommendations</h3>
                <p>Our culinary experts will tailor recipe suggestions to your unique taste preferences, ensuring a delightful cooking experience.</p>
            </div>
            <div class="service-box">
                <img src="/images/circular-outlined-badge-with-ribbon-recognition-prize-symbol.png" class="service-icon" />
                <h3>Diverse Recipe Collection</h3>
                <p>Explore a vast array of meticulously curated recipes from various cuisines around the globe.</p>
            </div>
            <div class="service-box">
                <img src="/images/favourites-star-outline-interface-symbol.png" class="service-icon" />
                <h3>Premium Ingredient Quality</h3>
                <p>Our recipes feature top-quality ingredients to ensure exceptional flavor and presentation in every dish.</p>
            </div>
        </div>
        <div class="service-row">
            <div class="service-box">
                <img src="/images/headphones-audio-symbol.png" class="service-icon" />
                <h3>Round-the-Clock Support</h3>
                <p>Receive professional assistance from our culinary experts 24/7, ready to answer any of your cooking queries.</p>
            </div>
            <div class="service-box">
                <img src="/images/fire.png" class="service-icon" />
                <h3>Expert Cooking Tips</h3>
                <p>Benefit from a curated selection of cooking tips and techniques to elevate your culinary skills.</p>
            </div>
            <div class="service-box">
                <img src="/images/money-banking.png" class="service-icon" />
                <h3>Recipe Excellence Guarantee</h3>
                <p>We guarantee the best recipes and will provide superior alternatives if you find better ones elsewhere.</p>
            </div>
        </div>
    </div>
</div>
